.container-fluid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;
}

.photo {
    max-width: 6.333%;
    padding: 0 10px;
    height: 114px;
}

.photo img {
    width: 100%;
    height: 89%;
}
/* Your CSS Code here. */