.section-1{
    display: flex;
    height:8.33%;
    gap: 20px;
}
.section-1 img{
    width: 85%;
}
.section-2{
    display: flex;
    height:8.33%;
    gap: 20px;
}
.section-2 img{
    width: 95%;
}




.section-3{
    display: flex;
    height:8.33%;
    gap: 20px;
}
.section-3 img{
    width: 500px;
}
.section-4{
    display: flex;
    height:8.33%;
    gap: 20px;
}
.section-4 img{
    width: 1600px;
}





/* Your CSS Code here. */